name: Ask Chotu

on:
  workflow_dispatch:

concurrency:
  group: Ask Chotu
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Run listener
        env:
          NTFY_TOPICS: "abcd,efgh"
        run: go run main.go
